<h1>Apartment information</h1>

<h2>Unit <%= @apartment.number %></h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque consequuntur deleniti facilis, magni doloremque sed dicta fugit quas nulla vitae in fugiat dolorem nemo ad, quos, quis qui? Nobis molestiae dolore quasi unde fugit distinctio ducimus excepturi animi amet provident maxime fuga a sed repellat, aspernatur optio dolorum ex eaque.</p>


<% if !@vacancy %>
<ul>
    <% @tenants.each do |tenant| %>
        <li><%= tenant[:name] %> (<%= tenant[:age] %>)</li>
    <% end %>
    </ul>
<% else %>
    <h1>Apartment VACANT! Sign a new lease  <%= link_to "here", new_lease_path(@lease) %></h1>
<% end %>


<%= link_to "Edit Apartment", edit_apartment_path(@apartment) %> | <%= link_to "Delete Apartment", @apartment, method: :delete, data: {confirm: "Are you sure? This will delete the associated lease."}  %> | <%= link_to "End lease", lease_path(@lease.ids), method: :delete, data: {confirm: "Are you sure? You will be charged early exit fees."} %>
